<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Edit Personal Info</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <img src="<%= user.profileImageURL %>" alt="Image" style="width: 125px; height: 100px;">
        <p><%= user.email %></p>
    </div>
    
    <div class="container mt-3" >
        <form action="/userEdit/age" method = "post" >
            <div class="mb-3">
                <label for="age" class="form-label"></label>
                <input type="number"
                placeholder="Age" 
                required
                class="form-control" 
                id="age" 
                name="age" 
                aria-describedby="age">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
             </div>

        </form>
    </div>
   
    <%- include('./partials/scripts') %>
</body>
</html>